RewriteEngine on
RewriteCond $1 !^(index\.php|assets|PayUMoney_PHP_Module|uploads|frontend_assets|impression_track)
RewriteRule ^(.*)$ index.php/$1 [L]



# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:thecrindustries.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?thecrindustries.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:thecrindustries.com
