ul{margin: 0px; padding: 0px;}
li{list-style: none;}
body{font-family: OpenSans-Regular;}
.outer{background:#edf1f2;}
.wrapper{position: absolute; width: 94%; height: auto;top: 0px;z-index: 1;margin: 3%;}

/*=Banner-Section=*/
.logo-div{position: relative;width:17%;padding-right: 15px; padding-left: 15px;float:left;}
.navigation-div{position: relative;width:61%;padding-right: 15px; padding-left: 15px;float:left;}
.navbar-default .navbar-nav > li > a { color: #fff; text-transform: uppercase; font-family: OpenSans-Semibold;}
.login-outer{position: relative;width:21%;padding-right: 15px; padding-left: 15px;float:right;}
.banner-leftline{position:relative;float:left;width:1px; height:515px; background:rgba(255, 255, 255, 0.40);}
.banner-leftline:before {content: "";position: absolute;top: 0px;left: 0;width: 100px;height: 1px;background: rgba(255, 255, 255, 0.40);}
.banner-leftline:after {content: "";position: absolute;bottom: 0px;left: 0;width: 100px;height: 1px;background: rgba(255, 255, 255, 0.40);}
.banner-rightline{position:relative;width:1px; height:515px; background: rgba(255, 255, 255, 0.40);float:right;top:0px}
.banner-rightline:before {content: "";position: absolute;top: 0px;right: 0;width: 100px;height: 1px;background: rgba(255, 255, 255, 0.40);}
.banner-rightline:after {content: "";position: absolute;bottom: 0px;right: 0;width: 100px;height: 1px;background: rgba(255, 255, 255, 0.40);}
#banner-slider{}
.logo{float:left; width:168px; height:50px; padding: 20px 10px;}
.login-outer .login-btn a{float:right; width:auto; height: auto; padding:5px 20px; color:#fff; text-transform: uppercase; border:2px solid #fff;    margin: 25px 9px 20px 9px;}
.login-outer .login-btn a:hover{background-color: #c8202d;border:2px solid #c8202d;}
.slider-search{text-align: center;display: inline-block; width: 98%;margin-left: 1%;vertical-align: middle;margin: 7% 0px;}
.slider-search h1{font-family: CenturyGothicRegular;color:#fff;font-size:45px; text-align: center;line-height: 75px;}
.slider-center-serach{width:auto; height: auto; text-align:center; display:inline-block;}
.search-black-strip{float: left;width:644px; height: auto;text-align: center;background: rgba(0, 0, 0, 0.60);display: inline-block;padding: 10px;}
.search-input{float: left;border-radius: 5px 0px 0px 5px;border: none;font-family: OpenSans-Regular;padding:12px 45px;color: #959595;font-size: 15px; background-image: url(../images/serach-icon.png); background-position: left 20px center; background-repeat: no-repeat;}
.locate-input {float: left;border-radius: 0px 5px 5px 0px; border: none; padding: 12px 0px 12px 50px;background-image: url(../images/locate-icon.png);
background-position: left 20px center; background-repeat: no-repeat;text-align: left;color: #767676;font-size: 15px;font-family: OpenSans-Regular;}
.search-btn{float: left; width:auto; height: auto; background: #c8202d; padding: 20px 75px; color:#fff; text-transform: uppercase;font-size: 18px;font-family: OpenSans-Regular; border: 1px solid #c8202d;}
.category-select-sm select {float: left; -webkit-appearance: none; -moz-appearance: none;appearance: none; outline: none;border-color: #d4d4d4;transition: all 333ms ease-in-out;text-align: left;color: #767676;font-size: 15px;font-family: OpenSans-Regular;outline: 0px;background-image: url(../images/select-icon.png);background-position: right 20px center;background-repeat: no-repeat;border-radius: 5px;padding:10px 35px;margin:0px 0px 0px 10px}
/*=Banner-Section-End=*/

/*=Home-foodstall-Section=*/
/*left-section*/
.listing-left{float:left; width:100%; height: auto; border:1px solid #ddd; padding: 10px;margin: 30px 0px 0px 0px;}
.listing-left h1{float: left;font-family: OpenSans-Regular;font-weight: 600;font-size: 15px;color: #373737;margin: 0px;text-transform: uppercase;width: 100%;padding:15px 0px 10px 10px; border-bottom: 1px solid #539926;}
.listing-left h2{float: left;font-family:OpenSans-Regular;font-weight: 600;font-size: 15px;color: #373737;margin: 0px;text-transform: uppercase;width: 100%;padding:20px 0px 10px 10px; }
.cssmenu,.cssmenu ul,.cssmenu li,.cssmenu a { margin: 0;padding: 0;border: 0;list-style: none;font-weight: normal;text-decoration: none; line-height: 1;font-family: 'Open Sans', sans-serif;font-size: 14px;position: relative;}
.cssmenu {float:left;width:100%; }
.cssmenu a { line-height: 1.0;}
.cssmenu > ul > li {    border-bottom: 1px solid #eeeeee;}
.cssmenu > ul > li:hover { background: #f7f7f7; }
.cssmenu > ul > li > a { font-size: 15px; display: block; color:#626262; border-top: none; }
.cssmenu > ul > li > a > span {display: block;padding: 15px 10px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
  color:#626262;}
.cssmenu > ul > li > a:hover {text-decoration: none;}
.cssmenu > ul > li.active {border-bottom: 1px solid #eeeeee;}
.cssmenu > ul > li.active > a span{   color: #c8202d; font-size: 15px;}
.cssmenu > ul > li.has-sub > a span {background: url(../images/home-left-arrow.png) 96% center no-repeat; }
.cssmenu > ul > li.has-sub.active > a span {background: url(../images/home-left-down-arrow.png) 96% center no-repeat;}
/* Sub menu */
.cssmenu ul ul {display: none;background: #fff;padding: 0px 0px 10px 0px;}
.cssmenu ul ul li {padding: 0;border-top: none;}
.cssmenu ul ul li:last-child {border-bottom: none;}
.cssmenu > ul > ul > li > a > span {display: block;padding: 12px 10px;-webkit-border-radius: 4px;-moz-border-radius: 4px;
  border-radius: 4px;}
.cssmenu ul ul a{padding: 8px 10px 8px 10px;display: block;color: #626262;font-size: 12px;font-weight: normal;}
.cssmenu ul ul a:before {/*content: "»";*/ position: absolute; left: 10px; color: #c8202d;}
.cssmenu ul ul a:hover { color: #c8202d;}
/* Sub inner menu */
.cssmenu ul ul ul {display: none;background: #fff;border-right: 0px solid #a2a194;border-left: 0px solid #a2a194;margin-left: 14px;
  margin-right: 15px;}
.cssmenu ul ul li:last-child {border-bottom: none;}
.cssmenu ul ul ul a {padding: 10px 10px 10px 25px;display: block;color: #676767;font-size: 12px;font-weight: normal;}
.cssmenu ul ul ul a:before {content: "»";position: absolute;left: 10px;color: #e94f31;}
.cssmenu ul ul ul a:hover {color: #e94f31;}
.cssmenu > ul > li > ul > li.has-sub > a span { background: url(../images/arrow-right.png) 96% center no-repeat; display:block;}
.cssmenu > ul  ul > li.has-sub.active > a span {background: url(../images/arrow-down.png) 96% center no-repeat; display:block;}
/*left-section-end*/

/*right-section*/
.heading-section{width:100%; height:auto; text-align: center; display: inline-block;}
.heading-section h1{font-family: CenturyGothicbold;font-size: 28px; color:#000; font-weight: bold; letter-spacing: 5px; text-transform:uppercase;    margin: 30px 0px 0px 0px;
    padding: 0px 0px 20px 0px;}
.heading-section h1 span{color: #c8202d;}
.heading-section p{font-family: OpenSans-Regular;font-size:16px;color:#525252; line-height: 32px; text-align: center; margin: 0px;padding: 0px 0px 10px 0px;}
.heading-line{width:130px; height:4px; text-align: center; display: inline-block; background-image: url(../images/headingline.png); background-position: top center; background-repeat: repeat-x;}
.foodstall-box{float: left;width:33.33%; height: auto;padding:15px 15px; background: url(../images/foodbox-right-line.png); background-position: right center; background-repeat: no-repeat;}
.foodstall-box:nth-child(4) {float: left;width:33.33%; height: auto;padding:15px 15px 15px 15px; background: none;}
.foodstall-intbox{width: 100%; height: auto;background: #f7f7f7; border:2px solid #d4d4d4;text-align: center;}
.foodstall-intbox img{width:100%;}
.foodstall-intbox h1{font-family: OpenSans-Semibold; font-size:16px; color:#393939; text-transform: uppercase; text-align:center; margin: 25px 0px 0px 0px; padding:0px;}
.foodstall-intbox p{ font-family: OpenSans-Regular; font-size: 14px; color:#393939; line-height: 23px; padding:18px 18px;letter-spacing: 1px;}
.foodstall-intbox .headingline{width:70px; height:4px; text-align: center; display: inline-block; background-image: url(../images/foodstall-headingline.png); background-position: top center; background-repeat: repeat-x;}
.foodstall-intbox .bottomstrip{width:100%; height: auto;background: #c8202d; border:2px solid  #c8202d; padding:4px 0px}
.foodstall-intbox .bottomstrip img{width:10px; height: 10px;}
.foodbox-bottom-line{float:left;width:50px; height:4px; background-image: url(../images/foodbox-bottom-line.png); background-position: top center; background-repeat: repeat-x;margin-top: 15px;}
.border-bottom{float:left; width:100%; height: 1px; background: #dddddd;margin:30px 0px 40px 0px;}
.view-all-btn a{float:right; width: auto; height: auto;font-family: OpenSans-Semibold; color:#787878; font-size: 12px; text-align:center; border-radius:5px; padding:5px 25px; background:#fff;  border:2px solid #d8d8d8; }
.view-all-btn a:hover{}
/*right-section-end*/
/*=Home-foodstall-Section-End=*/

/*=Home-FEATURED-FOOD-TRUCK-Start=*/
.featured-food-outer{float:left; width: 100%; height: auto; border-top:10px solid #ddd;border-bottom:10px solid #ddd; padding: 0px 0px; margin: 15px 0px 30px 0px;background: url(../images/feature-food-bg.png); background-repeat: no-repeat; background-size: 100%;}
#featured-food .item{width: 85%;border:3px solid rgba(255, 255, 255, 0.50);margin:20px 27px;font-family: OpenSans-Semibold;color:#fff; font-size:20px;text-transform: uppercase; text-align: center; padding:70px 0px;}
#featured-food .owl-dots{display: none !important;}
#featured-food .owl-next{background: url(../images/next-arrow.png);background-repeat: no-repeat;right: 24px;width: 37px;height: 37px;
margin-right: 5px;}
#featured-food .owl-prev{background: url(../images/prev-arrow.png);background-repeat: no-repeat;right: 24px;width: 37px;height: 37px;
margin-left: 8px;}
/*=Home-FEATURED-FOOD-TRUCK-End=*/

/*=Home-Top-Rate-start=*/
.full{float:left; width:100%; height: auto;}
.top-rate-col{float:left; width: 33.33%; height: auto; margin: 40px 0px 15px 0px;padding: 0px 10px;}
.top-rate-col h1{font-family:OpenSans-Bold; font-size:21px; color:#000; text-transform: uppercase; font-weight:bold text-align:center; margin: 25px 0px 0px 0px; padding:0px;}
.top-rate-col h1 img{padding: 0px 10px 0px 0px;}
.top-head-line{width:75px; height:7px; text-align: center; display: inline-block; background-image: url(../images/top-truck-head-line.png); background-position: bottom left; background-repeat: repeat-x;}
.toprate-radius-box{float:left; width:100%; height: auto; background: #fff;border:2px solid #e2e2e2; margin:14px 0px;border-radius: 5px;}
.toprate-radius-left{float:left;position:relative; width:155px; height: auto;}
.toprate-radius-left img{width:100%;}
.toprate-left-absolute{position: absolute; width: 30px; height: 25px; background: #c8202d; color: #fff;font-size:11px; font-family:OpenSans-Semibold ;    text-align: center;
border-radius: 4px;padding: 5px;}
.toprate-radius-right{float:left; width:200px; height: auto; padding:10px;}
.toprate-radius-right h1{float: left;font-family: OpenSans-Bold;font-weight: 600;font-size: 14px;color: #515151;margin: 0px;
text-transform: unset;width: 100%;padding: 5px 0px 10px 0px;}
.toprate-radius-right p{font-family: OpenSans-Regular;font-size:12px;color:#7a7a7a;line-height: 20px;padding: 5px 0px;letter-spacing:0.5px;margin: 0px;}
.view-all-btn-left a{float:left; width: auto; height: auto;font-family: OpenSans-Semibold; color:#787878; font-size: 12px; text-align:center; border-radius:5px; padding:5px 25px; background:#fff;  border:2px solid #d8d8d8; }
.view-all-btn-left a:hover{}
/*=Home-Top-Rate-End=*/

/*=Home-Top-Rated-Recipe-start=*/
.top-recipe-main{float:left; width:100%; height:auto; background: url(../images/top-recipe-bg.png); background-position: top center; background-repeat: no-repeat;padding:30px 0px;margin-bottom: 30px}
.top-recipe-box{width:30%; height: auto; background: #fff; padding: 25px; margin:20px 17px; text-align: center; display: inline-block;-webkit-transition: all 200ms ease-in;
 -webkit-transform: scale(1);-ms-transition: all 200ms ease-in; -ms-transform: scale(1); -moz-transition: all 200ms ease-in;
-moz-transform: scale(1);transition: all 200ms ease-in;transform: scale(1); }
.top-recipe-box:hover{box-shadow: 0px 0px 150px #000000;z-index: 2;-webkit-transition: all 200ms ease-in;-webkit-transform: scale(1.1);
-ms-transition: all 200ms ease-in;-ms-transform: scale(1.1); -moz-transition: all 200ms ease-in;-moz-transform: scale(1.1);transition: all 200ms ease-in;transform: scale(1.1);}
.top-recipe-box img{width: 100%; height: 100%;}
.top-recipe-box h1{float: left;font-family: OpenSans-Semibold;font-weight: 600;font-size: 14px;color: #343434;margin: 0px;
text-transform: uppercase;width: 100%;padding: 30px 0px 10px 0px;letter-spacing: 2px;}
.top-recipe-box p{font-family: OpenSans-Light;font-size:11px;color:#717171;line-height: 20px;padding: 10px 0px 0px 0px;letter-spacing: 1.5px;margin: 0px;}
.rate-recipe-line{width:110px; height:2px;background: url(../images/rate-recipe-line.png); background-position: top center; background-repeat: repeat-x; text-align: center;display:inline-block;}
.recipe-rating{width:100%; height: auto; margin: 18px 0px;}
.recipe-rating span{ font-family: OpenSans-Semibold; font-size: 12px; color: #3f3f3f;    padding: 3px;}
.recipe-rating  img{width:13px; height:12px;}
.top-recipe-box h2{float: left;font-family: OpenSans-Semibold;font-weight: 600;font-size: 12px;color: #343434;margin: 0px;
text-transform: unset;width: 100%;padding: 0px 0px 0px 0px;letter-spacing: 2px;}
.heading-section{width:100%; height:auto; text-align: center; display: inline-block;}
.heading-section h2{font-family: CenturyGothicRegular; font-size: 28px; color:#fff; font-weight: bold; letter-spacing: 5px; text-transform:uppercase;    margin: 0px;
padding: 20px 0px 15px 0px;}
.heading-section h2 span{color: #c8202d;}
.heading-white-line{width:80px; height:5px; text-align: center;margin-bottom: 15px; display: inline-block; background-image: url(../images/heading-white-line.png); background-position: top center; background-repeat: repeat-x;}
/*=Home-Top-Rates-Recipe-start=*/

/*=Home-Chefs-start=*/
.chef-box{float: left; width:92%; height:auto;background:#fff; border:2px solid #cbcbcb;padding:20px;text-align: center; margin: 10px 10px }
.chef-box .circle{width: 165px; height: 165px; border-radius: 100%; background: #c8202d;text-align: center; display: inline-block;padding:5px;}
.chef-box .circle img{width:100%; height:100%; border-radius:100%;}
.chef-box h1{float: left;font-family: OpenSans-Bold;font-weight: 600;font-size: 22px;color: #363636;margin: 0px;
text-transform: unset;width: 100%;padding: 30px 0px 10px 0px;letter-spacing: 1px;}
.chef-box  p{font-family: MyriadPro-Regular;font-size:22px;color:#5d5d5d;line-height: 20px;font-weight:normal;padding: 10px 0px;letter-spacing:0.5px;margin: 0px;}
.chef-box-line{width:70px; height:8px;background: url(../images/chef-line.png); background-position: top center; background-repeat: repeat-x; text-align: center;display:inline-block;margin-bottom: 15px;}
.follow-btn a{width: auto; height: auto;font-family:Roboto-Light; color:#373737; font-size: 13px; text-align:center; border-radius:3px; padding:6px 30px; background:#fff;box-shadow: 2px 2px 2px 2px #ccc;display: inline-block;margin: 15px 0px 0px 0px; }
.follow-btn a:hover{}
#chef .owl-dots{display: none !important;}
#chef .owl-next{background: url(../images/next-arrow.png);background-repeat: no-repeat;right: 24px;width: 37px;height: 37px;
margin-right: -40px;}
#chef .owl-prev{background: url(../images/prev-arrow.png);background-repeat: no-repeat;right: 24px;width: 37px;height: 37px;
margin-left:-50px;} 
/*=Home-Chefs-End=*/

/*=Home-Blog-start=*/
.home-blog-main{float:left; position:relative; width:100%; height:auto; background: url(../images/blog-bg.png); background-position: top center; background-repeat: no-repeat;padding:30px 0px;margin-bottom: 30px;margin-top: 40px;}
.blog-box{width:30%; height: auto; background: #fff;padding: 5px 5px 30px 5px; margin:20px 17px; text-align: center; display: inline-block;-webkit-transition: all 200ms ease-in;
 -webkit-transform: scale(1) !important;-ms-transition: all 200ms ease-in !important; -ms-transform: scale(1) !important; -moz-transition: all 200ms ease-in !important;
-moz-transform: scale(1) !important;transition: all 200ms ease-in !important;transform: scale(1) !important; }
.blog-box:hover{box-shadow: 0px 0px 150px #000000;z-index: 2;-webkit-transition: all 200ms ease-in !important;-webkit-transform: scale(1.1) !important;
-ms-transition: all 200ms ease-in !important;-ms-transform: scale(1.1) !important; -moz-transition: all 200ms ease-in !important;-moz-transform: scale(1.1) !important;transition: all 200ms ease-in !important;transform: scale(1.1) !important;}
.blog-box img{width: 100%; height: 100%;}
.blog-box h1{float: left;font-family: OpenSans-Semibold;font-weight: 600;font-size: 14px;color: #343434;margin: 0px;
text-transform: uppercase;width: 100%;padding: 30px 0px 10px 0px;letter-spacing: 2px;}
.blog-box p{font-family: OpenSans-Light;font-size:11px;color:#717171;line-height: 20px;padding: 10px 10px 0px 10px;letter-spacing:1.5px;margin: 0px;}
.rate-recipe-line{width:110px; height:2px;background: url(../images/rate-recipe-line.png); background-position: top center; background-repeat: repeat-x; text-align: center;display:inline-block;}
.recipe-rating{width:100%; height: auto; margin: 18px 0px;}
.recipe-rating span{ font-family: OpenSans-Semibold; font-size: 12px; color: #3f3f3f;    padding: 3px;}
.recipe-rating  img{width:13px; height:12px;}
.blog-box h2{float: left;font-family: OpenSans-Semibold;font-weight: 600;font-size: 12px;color: #343434;margin: 0px;
text-transform: unset;width: 100%;padding: 0px 0px 0px 0px;letter-spacing: 2px;}
.heading-section{width:100%; height:auto; text-align: center; display: inline-block;}
.heading-section h2{font-family: CenturyGothicRegular; font-size: 28px; color:#fff; font-weight: bold; letter-spacing: 5px; text-transform:uppercase;    margin: 0px;
padding: 20px 0px 15px 0px;}
.heading-section h2 span{color: #c8202d;}
.heading-white-line{width:80px; height:5px; text-align: center;margin-bottom: 15px; display: inline-block; background-image: url(../images/heading-white-line.png); background-position: top center; background-repeat: repeat-x;}
.blog-wrapper {position: absolute;width: 90%;height: auto;top: 30px;z-index: 1;margin: 5%;}
.blog-leftline{margin-left: -40px;position:relative;float:left;width:1px; height:500px; background:rgba(255, 255, 255, 0.10);}
.blog-leftline:before {content: "";position: absolute;top: 0px;left: 0;width: 100px;height: 1px;background: rgba(255, 255, 255, 0.10);}
.blog-leftline:after {content: "";position: absolute;bottom: 0px;left: 0;width: 100px;height: 1px;background: rgba(255, 255, 255, 0.10);}
.blog-rightline{margin-right: -40px;position:relative;width:1px; height:500px; background: rgba(255, 255, 255, 0.10);float:right;top:0px}
.blog-rightline:before {content: "";position: absolute;top: 0px;right: 0;width: 100px;height: 1px;background: rgba(255, 255, 255, 0.10);}
.blog-rightline:after {content: "";position: absolute;bottom: 0px;right: 0;width: 100px;height: 1px;background: rgba(255, 255, 255, 0.10);}
.logo{float:left; width:168px; height:50px; padding: 20px 10px;}
/*=Home-Blog-start=*/

/*=Advertising-Start=*/
.advertise1{width: 100%;height: auto;text-align: center;display: inline-block;margin: 20px 0px;}
.advertise1 img{width:100%;}
.advertise2{width: 100%;height: auto;text-align: center;display: inline-block;margin: 35px 0px;}
.advertise2 img{width: 850px;height: 103px;text-align: center;display: inline-block;}
/*=Advertising-End=*/

/*=Footer-start=*/
.footer-top-strip{float:left; width:100%; height: auto; text-align: center; background: #f4f4f4; padding: 45px 0px;    border-top: 2px solid #c8202d;}
.footer-top-strip i{font-size:20px;color:#000; text-align: center; padding: 0px 25px;}
footer{float: left; width:100%; height: auto; background: #252525; padding:30px 0px 0px 0px; }
.footer-logo{float:left;width:80%;margin-left: 60px;}
footer .col{float:left; width: 20%; height: auto;background: url(../images/footer-seprator.png);background-position: right center;
    background-repeat: no-repeat;margin: 20px 0px;}
footer .col ul{margin:0px 0px; padding:0px 0px 0px 60px;}
footer .col ul li { line-height:25px;list-style:none;background-image: url(../images/footer-li-circle.png);background-position: top 7px left; background-repeat: no-repeat;}
footer .col ul li a{font-family: OpenSans-Semibold;font-size: 14px; color:#b9b9b9; padding: 0px 0px 0px 25px; text-transform: uppercase;}
footer .col ul li a:hover{color:#bb202c;}
footer .col:last-child{background: none;}
footer .bottomstrip{float: left;font-family: OpenSans-Light;width: 100%; height:auto; padding: 5px 0px; border-top: 1px solid #343434;text-align: center;
color: #636363;font-size: 12px;}
/*=Footer-End=*/

/*=Signup-Start=*/
#seller_sign-up .modal-content{background-image: url(../images/form-bg.png); background-repeat: no-repeat;border-radius: 0px; padding: 30px;}
#seller_sign-up .modal-dialog { width:925px;margin: 200px auto;}
#sign-up .modal-content{background-image: url(../images/form-bg.png); background-repeat: no-repeat;border-radius: 0px; padding: 30px;}
#sign-up .modal-dialog { width:925px;margin: 200px auto;}
.white-form-container{ width:100%; height: auto; background: #fff;position: relative;}
.white-form-container .modal-header {padding: 35px 35px 0px 35px !important}
.white-form-container .modal-header .close {font-size: 45px;font-weight: normal;opacity: 1 !important;color: #c8202d;text-shadow: 0 1px 0 #fff;/* opacity: .2; */}
.white-form-container .modal-title{padding-bottom:0px;}
.form-leaf{position:absolute; width:120px; height:110px ;left: -22px;top: -15px;}
.form-leaf-tamato{position:absolute;bottom: 215px;left: -20px;}
.form-bread{position:absolute;right: -15px;top: 175px;z-index: 1;}
.form-tamato{position:absolute;right: -2px;bottom: 120px;}
.white-form-container .form {width:100%;padding: 0 28%;}
.white-form-container form  h1{  font-family: OpenSans-Regular; font-size: 20px; color: #373737; padding: 0px 0px;    margin: 0px 0px 20px 0px;}
.white-form-container .form-field {position: relative;}
.white-form-container .form-field input {font-family: OpenSans-Regular;font-size: 15px;color: #a3a3a3;padding-bottom: 15px;
  padding-left: 0px;width: 100%;margin: 15px 0;height: 30px;border-top: none;border-left: none;border-right: none;border-bottom: 1px solid #dddddd;}
.white-form-container .form-field input:focus {border-bottom: 1px solid #c8202d;transition: ease 0.25s;color:#373737;}
.white-form-container .form-field i {position: absolute;z-index: 2;left: -35px;top: 15px;color: #b0b0b0;font-size: 20px;}
.white-form-container .form-button {background-color: #c8202d;border: none;color: #fff;font-family: OpenSans-Regular;/* margin: 15px 40%; */width: 100%;
height: 40px;font-size: 16px;letter-spacing: 1px;border-radius: 1px;box-shadow: 0px 2px 2px 0px #b6b2b2;cursor: pointer;padding: 10px 145px;text-align: center;
display: inline-block !important;margin: 15px;}
.white-form-container input:focus, input:active, button:hover, button:active {outline: none;}
.white-form-container .radio-group {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;
  -webkit-box-direction: normal; -ms-flex-direction: row;flex-direction: row;}
.white-form-container .radio-group.vertical {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;
flex-direction: column;}
.white-form-container .radio-group.vertical label {margin: 0 0 8px 0;}
.white-form-container .radio-group label {margin: 0 8px 0 0;cursor: pointer;}
.white-form-container .radio-group input[type="radio"] {display: none;}
.white-form-container .radio-group input[type="radio"]:checked + span:before {background-color: #75d36c;box-shadow: inset white 0 0 0 2px;}
.white-form-container .radio-group span {display: -webkit-box;display: -ms-flexbox;display: flex;font-family: OpenSans-Light !important;color: #373737 !important;font-size: 15px;}
.white-form-container .radio-group span:before {border: 1px solid #75d36c;content: '';display: -webkit-box;display: -ms-flexbox;
display: flex;height: 16px;width: 16px; margin: 0 5px;border-radius: 50%;box-sizing: border-box;-webkit-transition: all ease .200s;
transition: all ease .200s; box-shadow: inset white 0 0 0 10px;}
.rkmd-checkbox {color: #818181;font-size: 15px; font-weight: bold;font-family: opensans-regular !important;margin: 20px 0px 25px -7px;}
.rkmd-checkbox .input-checkbox {position: relative;display: inline-block;width: 32px;height: 32px;text-align: center;vertical-align: -9px;}
.rkmd-checkbox .input-checkbox input[type="checkbox"] {visibility: hidden;position: absolute;left: 7px;bottom: 7px;margin: 0;padding: 0;outline: none;cursor: pointer;
  opacity: 0;
}
.rkmd-checkbox .input-checkbox input[type="checkbox"] + .checkbox:before {
  position: absolute;
  left: 4px;
  /*bottom: 8px;*/
  width: 18px;
  height: 18px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: -6px;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  transition: all .2s ease;
  z-index: 1;
}
.rkmd-checkbox .input-checkbox input[type="checkbox"] + .checkbox:before {
  content: "\e835";
  color: #75d36c;
}
.rkmd-checkbox .input-checkbox input[type="checkbox"]:checked + .checkbox:before {
  content: "\e834";
}
.rkmd-checkbox .input-checkbox input[type="checkbox"]:active:not(:disabled) + .checkbox:before {
  transform: scale3d(0.88, 0.88, 1);
}
.rkmd-checkbox .input-checkbox input[type="checkbox"]:disabled + .checkbox:before {
  color: rgba(0, 0, 0, 0.157) !important;
}
.rkmd-checkbox.checkbox-light label, .rkmd-checkbox.checkbox-light .label {
  color: #000;
}
.rkmd-checkbox.checkbox-light input[type="checkbox"] + .checkbox:before {
  color: #FFF;
}
.rkmd-checkbox.checkbox-light input[type="checkbox"]:disabled + .checkbox:before {
  color: #5d5d5d !important;
}
.rkmd-checkbox .checkbox-ripple .label{color:#000 !important;font-family: OpenSans-light; font-size: 15px !important;}
.form-food-cati{padding:15px 0px;font-family: OpenSans-Regular; font-size: 15px;color:#373737; font-weight:bold;}
.white-form-container .label{color:#373737 !important;font-family: OpenSans-light; font-size: 15px !important;}
.white-form-container .label a{color:#c8202d;}
/*=Signup-End=*/


.white-form-container .form-row{margin-left:-35px;}

/*=Login-Start=*/
#login .modal-content{background-image: url(../images/form-bg.png); background-repeat: no-repeat;border-radius: 0px; padding: 30px;}
#login .modal-dialog {width: 925px;margin: 200px auto;}
#login .white-form-container{min-height: 650px;}
.forgot-txt a{color: #373737 !important; font-family: OpenSans-light;font-size: 15px !important; text-align: right;text-decoration: none; cursor: pointer;float:right;}


/*=Login-End=*/

/*=Forgot-Password-Start=*/
#forgot_password .modal-content{background-image: url(../images/form-bg.png); background-repeat: no-repeat;border-radius: 0px; padding: 30px;}
#forgot_password .modal-dialog { width:925px;margin: 200px auto;}
#forgot_password .white-form-container{min-height: 650px;}
.forgot-txt a{color: #373737 !important; font-family: OpenSans-light;font-size: 15px !important; text-align: right;text-decoration: none; cursor: pointer;float:right;}
/*=Forgot-Password-End=*/

/*=Margins=*/
.margin-left30{margin-left:30px !important;}
.margin-left20{margin-left:20px !important;}
.padding-right10{padding-right:10px !important;}
.padding-right0{padding-right:0px !important;}
.padding-left0{padding-left:0px !important;}
/*=Margins-End=*/

/*=Internal-Header-Start=*/
.int-header{float:left; width: 100%; height: 145px; background-image: url(../images/internal-header-bg.png); background-repeat: no-repeat; background-position: top -60px center; background-size:100%;}
/*=Internal-Header-End=*/
.breadcrumb-div ul {width:100%;float:left;}
.breadcrumb-div ul li a{color: #7b7d7b;float: left;font-size: 14.4px;text-transform: capitalize;padding: 12px 12px 0px 0px;font-family: Roboto-Regular;}
.breadcrumb-div ul li a:hover{text-decoration:none;}
.breadcrumb-div ul > li.active-breadcrumb a{color:#c8202d;}
.white-internal-container{float:left;width:100%; height: auto; margin:25px 0px 0px 0px; background: #fff;}
.form-container{width: 80%; height: auto; margin: 0 auto;}
#msform {width: 100%;margin:0px auto;text-align: center;position: relative;z-index: 1;}
#msform fieldset {background: white;border: 0 none;padding: 20px 30px;box-sizing: border-box;width: 90%;margin: 0 5%;/*stacking fieldsets above each other
  position: absolute;*/}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {display: none;}
/*inputs*/
#msform input,#msform textarea {/*padding: 15px;border: 1px solid #ccc;border-radius: 3px;margin-bottom: 10px;width: 100%;
  box-sizing: border-box;font-family: montserrat;color: #2C3E50;font-size: 13px;*/}
/*buttons*/
#msform .action-button {width: auto;background: #c8202d;
    color: white;border: 0 none;border-radius: 0px;cursor: pointer;padding: 8px 100px;margin: 10px 5px;font-family: OpenSans-Regular;
    font-size:15px;height: 40px !important;margin: 40px 10px; box-shadow: 0px 10px 10px 0px #dcdcdc; text-transform: uppercase;}
#msform .action-button:hover,#msform .action-button:focus {/*box-shadow: 0 0 0 2px white, 0 0 0 3px #67d5bf;*/}
/*headings*/
.fs-title {font-size: 16px;text-transform: uppercase;color: #63a2cb;margin-bottom: 10px;}
.fs-subtitle {font-weight: normal; font-size: 14px;  color: #666;  margin-bottom: 20px;}
/*progressbar*/
#progressbar {overflow: hidden;/*CSS counters to number the steps*/ counter-reset: step;margin: 65px 0px;}
#progressbar li {list-style-type: none;color: #373737;text-transform: uppercase;font-size: 12px;width: 20%;float: left;
  position: relative;font-family:Roboto-Light;text-align: center; font-weight: 600;}
  #progressbar li a{font-family: OpenSans-Light;color: #373737;cursor: default;text-transform: capitalize;font-size: 12px;}
#progressbar li.active a{color: #c8202d;}
#progressbar li:before {content: counter(step);counter-increment: step;width: 45px; line-height: 45px; height: 45px;
    display: block; font-size: 16px; color: #9d9d9d;background: #fff;border-radius: 50%;margin: 0 auto 5px auto;border: 1px solid #dcdcdc;}
/*progressbar connectors*/
#progressbar li:after {content: '';width: 100%;height: 10px;background: white;position: absolute;left: -50%;top: 20px;z-index: -1;
  background-image: url(../images/step-line.png);background-repeat: repeat-x;/*put it behind the numbers*/}
#progressbar li:first-child:after {/*connector not needed before the first step*/  content: none;}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,#progressbar li.active:after {background: #c8202d;color: white;border-color: #c8202d;}
.help-block {font-size: .8em;color: #7c7c7c;text-align: left;margin-bottom: .5em;}


.form-group .radio-group {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;
  -webkit-box-direction: normal; -ms-flex-direction: row;flex-direction: row;}
.form-group .radio-group.vertical {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;
flex-direction: column;}
.form-group .radio-group.vertical label {margin: 0 0 8px 0;}
.form-group .radio-group label {margin: 0 8px 0 0;cursor: pointer;}
.form-group .radio-group input[type="radio"] {display: none;}
.form-group .radio-group input[type="radio"]:checked + span:before {background-color: #75d36c;box-shadow: inset white 0 0 0 2px;}
.form-group .radio-group span {display: -webkit-box;display: -ms-flexbox;display: flex;font-family: OpenSans-Light !important;color: #373737 !important;font-size: 15px;}
.form-group .radio-group span:before {border: 1px solid #75d36c;content: '';display: -webkit-box;display: -ms-flexbox;
display: flex;height: 16px;width: 16px; margin: 0 5px;border-radius: 50%;box-sizing: border-box;-webkit-transition: all ease .200s;
transition: all ease .200s; box-shadow: inset white 0 0 0 10px;}
.upload-s {
    float: left;
    width: 100%;
    height: auto;
    margin: 0px 0px 10px 0px;
}
.upload-s .custom-file-upload {
    border:1px solid #e7e2e2;
    border-radius: 10px;
    background: #fff;
    color: #3c3c3c;
    font-weight: normal;
    float: left;
    padding: 11px 25px;
    cursor: pointer;
    margin: 0px 0px;
    width: 150px;text-align: center;
    font-family: 'OpenSans-Regular';
    height: 60px;
}
.upload-s input[type="file"] {
    display: none;
}

.registration-container input {
    margin-top: 40px !important;
    color: #7f7f7f;
    height: 30px !important;
    font-family: 'Lato-Regular' !important;
}
.upload-s .custom-file-upload i {
    padding-right: 10px;
    font-size: 20px;
    color: #71ba3f;width: 100%;
}
.select-style {border: 1px solid #e7e2e2;width: 100%;border-radius: 10px;overflow: hidden;background: #fff url("../images/icon-select.png") no-repeat 97% 50%;color: #7f7f7f;font-size: 14px;font-family: 'Lato-Regular' !important;font-weight: normal;}
.select-style select {padding: 0px;width: 100%;border: none;box-shadow: none;background: transparent;background-image: none;-webkit-appearance: none;color: #7f7f7f;font-size: 14px;font-family: 'Lato-Regular' !important;font-weight: normal;}
.select-style select:focus {outline: none;}
.register-txt{float: left;color: #000;font-weight: bold;}
.register-heading{float: left;color: #000;font-weight: bold; font-size:18px;margin: 20px 0px 25px 0px;padding: 0px;}
.add-product-btn{padding: 20px 65px;background: #c8202d;width: 370px;font-size: 18px;border-radius: 10px;color: #fff;text-align: center;display: inline-block;margin: 0px 0px 100px 0px;}
.add-product-btn a{color:#fff;}
/*=Register-End=*/

/*=My-Account-Control-Start=*/
.my-account-crl-banner{float: left; width: 100%; height: 525px;position: relative;}
.my-account-crl-banner img{width:100%;}
.my-account-crl-banner h1{position: absolute;color: #a8a59f;font-family: OpenSans-Regular;font-size: 34px;top: 41%;left: 23%;right: 23%;text-align: center;width: auto; margin: 0px; padding:0px}
.my-account-crl-white-container{float:left; width:100%; height: auto; background: #fff;margin: 20px 0px; padding: 15px;border:1px solid #e8e8e8; background-color: #fff;}
.int-account-container{float:left; width:100%; height: auto; background: #fff; border:1px solid #e8e8e8;padding: 2px;}
.account-search-info{float:left;width:262px;font-family: Roboto-Light;font-size:14px;color:#373737;padding: 15px 20px;border-right: 1px solid #dddddd;}
.int-account-container .dropdown{float:left; width:290px; height: auto;padding: 7px 20px;border-right: 1px solid #ddd;}
.int-account-container .dropdown h1{float:left;font-family: Roboto-Regular; font-size: 12px; color: #5ba829;text-transform: uppercase;margin: 0px;width:100%; padding:0px 0px 0px 0px;}
.location-outer{float: left;width: 100%;}
.location-outer img{float: left;padding: 5px 5px 0px 0px;}
.int-account-container .select-style {width: 93%;overflow: hidden;background: #fff url("../images/account-seach-icon.png") no-repeat 100% 50%;color: #626262;font-size: 14px;font-family: Roboto-Light !important;font-weight: bold;}
.int-account-container .select-style i{float:left;}
.int-account-container .select-style select {padding:2px 8px;width: 100%;border: none;box-shadow: none;background: transparent;background-image: none;-webkit-appearance: none;color: #626262;font-size: 14px;font-family: Roboto-Light !important;font-weight: bold;}
.int-account-container .select-style select:focus {outline: none;}
.int-account-container .form-search{float: left;width:545px;}
#custom-search-form {margin:0;margin-top: 0px;padding: 0;}
#custom-search-form .search-query {border: none;padding: 15px 0px 15px 0px;width: 85%;color: #c0c0c0;}
#custom-search-form .search-query::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #c0c0c0;}
#custom-search-form .search-query::-moz-placeholder { /* Firefox 19+ */ color: #c0c0c0;}
#custom-search-form .search-query:-ms-input-placeholder { /* IE 10+ */ color: #c0c0c0;}
#custom-search-form .search-query:-moz-placeholder { /* Firefox 18- */ color: #c0c0c0;}
#custom-search-form button {float: left;background: none;box-shadow: none;border: none;}
#custom-search-form button i{color:#a2a2a2;padding: 12px 20px;}
.search-query:focus + button {z-index: 3;}
.sort-div{float: right;width: auto;margin: 0px 0px 15px 0px;}
.sort-div .dropdown{float:left;}
.sort-div .btn{border: 1px solid #dddddd;background: #fff;border-radius: 5px 5px 0px 0px;color: #909090;}
.sort-div  .btn .caret {margin-left: 20px;color: #767676;border-top: 6px dashed;border-top: 4px solid \9;border-right: 6px solid transparent; border-left: 6px solid transparent;}
.sort-div .dropdown-menu{right:0px !important;border-radius: 5px 0px 5px 5px;border: 1px solid #ddd;top: 31px;}
.sort-div .dropdown-menu > li > a{font-family: OpenSans-Light;font-size:14px;color:#909090;padding:8px 20px}
.sort-div .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: #e15c5c;background: none;}
.sort-txt{float: left;color: #949596;text-transform: uppercase;font-size: 12px;font-family: OpenSans-Light;margin-right: 7px;font-weight: bold;padding: 7px 5px;}
.myaccount-left{float: left; width:245px; height: auto; background: #fff; border:1px solid #e8e8e8; margin: 0px 15px 0px 0px; padding: 35px 27px; }
.myaccount-left h1{float: left;font-family: OpenSans-Regular;font-size:15px;color:#626262; margin:0px 0px; padding:0px 0px 5px 0px; font-weight: bold;width: 100%;}
.myaccount-left h1 a{color:#626262;}
.myaccount-left .rating{float:left;padding: 10px 0px 0px 0px; }
.myaccount-left .rating i{color:#f09819}
.myaccount-left .rating span{font-family: OpenSans-Light;font-size: 14px; color:#373737; padding:0px 0px 0px 10px;}
.myaccount-right{float: right;width: 77%;height: auto;margin: 0px 0px 0px 0px;}
.myaccount-right-int{float: left; position: relative; width:100%; height: auto; background: #fff; border:1px solid #e8e8e8; margin: 0px 0px 15px 0px; padding:25px 30px 5px 30px; }
.featured{border-left:10px solid #fbe9e9;}
.myaccount-right-int-img{float:left; width:215px; height: auto; margin: 0px 15px 0px 0px;}
.myaccount-right-int-right{float: right;width:71%; height: auto; }
.myaccount-right-int-right h1{font-family: OpenSans-Semibold; font-size: 20px; color: #3c3c3c;margin: 0px; padding: 0px;}
.myaccount-right-int-right h1 a{ color: #3c3c3c;}
.myaccount-right-int-right h2{float:left;font-family: Roboto-Light; font-size:12px; color:#5ba829;font-weight: 600;margin: 0px 0px; padding: 0px 0px;}
.myaccount-right-int-right h2 a{color:#5ba829;}
.myaccount-right-int-right span{float:left;font-family: Roboto-Light; font-size:12px; color:#c5c5c5;}
.myaccount-right-int-right p{float: left;font-family: Roboto-Light;font-size: 12px;color: #373737;line-height: 22px;font-weight: bold; letter-spacing: 0.1px;}
.myaccount-right-int ul{margin: 0px 0px; padding: 20px 0px 0px 0px;float: left;}
.myaccount-right-int ul li img{padding: 5px 10px 0px 0px; float:left;}
.myaccount-right-int ul li:last-child{border-right:none;}
.myaccount-right-int ul li:first-child{padding-left: 0px;}
.myaccount-right-int ul li:first-child img{padding: 0px;}
.myaccount-right-int ul li{float: left;border-right:1px solid #eeeeee;padding: 0px 20px 0px 20px;}
.myaccount-right-int ul li p{font-family: Roboto-Light;font-size: 14px;color: #aeaeae;padding: 5px 10px;float: left;}
.myaccount-right-int ul li p a{color: #aeaeae;}
.myaccount-right-int ul li span{font-family: OpenSans-Regular;font-size:14px;color:#23b044;padding: 5px 0px;    float: left;}
.myaccount-right-int ul li span a{color:#23b044;}
.myaccount-right-int ul li b{font-family: OpenSans-Regular;font-size:14px;color:#373737;padding: 5px 0px;    float: left;}
.ratingstar-div{float: left;width:auto; height: auto; background: #fff; border:1px solid #e8e8e8; font-family: Roboto-Light; font-size:16px; color:#373737;padding:5px 10px;}
.rating-absolute{position: absolute; top:23px; right:110px;width:200px;}
.rating-absolute p{font-family: Roboto-Light; font-size:14px; color:#aeaeae; margin: 0px; padding: 8px 10px;font-weight: normal;}
.ratingstar-div i{color:#f09819;}
.twentyoff{font-family: Roboto-Medium;font-size: 14px; color:#fff; background: #5ba829; border-radius: 5px; padding: 8px 20px; border: 0px;position: absolute;
right: 65px;bottom: 24px;}
.mycontrol-slider{    float: left;width:100%; height: auto; background-image: url(../images/control-banner-bg.png); background-repeat: no-repeat; background-size: 100%;margin: 65px 0px 0px 0px;padding: 80px 0px;}
#add-banner3 .owl-dots{display: none !important;}
#add-banner3 .owl-next{background: url(../images/next-arrow.png);background-repeat: no-repeat;right:-90px;width: 37px;height: 37px;
margin-right: 5px;position: absolute;}
#add-banner3 .owl-prev{background: url(../images/prev-arrow.png);background-repeat: no-repeat;left: -90px;width: 37px;height: 37px;
margin-left: 8px; position: absolute;}
.control-add-banner{float:left;text-align: center; margin: 10px 0px 30px 0px;}
/*=My-Account-Control-End=*/
/*Int-Headerdropdown*/
.int-header .btn{background: transparent; color: #fff;font-family: OpenSans-Regular; font-size: 15px;font-weight: 600;}
.int-header .dropdown{top:20px;float: right;}
.int-header .dropdown-menu{position: absolute; right:0px;min-width: 210px;border: 1px solid #e8e8e8;}
.int-header .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {color: #e15c5c;text-decoration: none;background-color: #fff;}
.int-header .btn .caret{background-image: url(../images/user-down-arrow.png); background-repeat: no-repeat; background-position:top 0px left 2px;border:0px;width: 18px;height: 10px;}
.int-header  .dropdown-menu > li > a{font-family: OpenSans-Light;font-size:14px;color:#999999;text-transform: none;padding: 8px 20px;}
.int-header .btn:hover, .btn:focus, .btn.focus{color:#fff;}
/*Int-End of Header dropdown*/
/*Headerdropdown*/
header .btn{background: transparent; color: #fff;font-family: OpenSans-Regular; font-size: 15px;font-weight: 600;}
header .dropdown{top:20px;float: right;}
header .dropdown-menu{position: absolute; right:0px;min-width: 210px;border: 1px solid #e8e8e8;}
header .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {color: #e15c5c;text-decoration: none;background-color: #fff;}
header .btn .caret{background-image: url(../images/user-down-arrow.png); background-repeat: no-repeat; background-position:top 0px left 2px;border:0px;width: 18px;height: 10px;}
header .dropdown-menu > li > a{font-family: OpenSans-Light;font-size:14px;color:#999999;text-transform: none;padding: 8px 20px;}
header .btn:hover, .btn:focus, .btn.focus{color:#fff;}
/*End of Header dropdown*/
.term_n_condition_err{color:#c8202d;}
.error {color:#c8202d;}
.error p{color:#c8202d;}
.success{color:#8ab158}




/*my account css start by :kailash singh*/


.my-account-section{width:100%; float:left;background:#ededed;   }
.container-margin{padding:30px 30px 0px}
.account-left-section{width:100%; float:left;background:#fff; border-top: 4px solid #c8202d;}
 
.account-ul li {padding:10px;    float: left; width: 100%;font-weight: 600;font-size: 15px; cursor: pointer;}
 
.account-ul li a{color:#000; font-size: 15px; font-weight: 600;  float: left; width: 100%;}
.account-right-section{width:100%; float:left;background:#fff;}
.account-right-section h1{font-size: 24px; border-bottom: 1px solid #ccc; padding: 0px 20px 10px;margin-top: 12px; font-weight: 600;}
.account-detail-form{width:50%; float:left;padding:20px;}
.required-span{color:red}
.account-label{float: left;width: 100%;color: #000;  font-size: 15px;font-weight: 600;    text-transform: capitalize;}
.account-input{  margin-top: 0; padding: 9px 9px; background-color: #fff; border: 1px solid #d4d4d4; color: #555;
    font-family: 'Open Sans',sans-serif; margin-bottom: 12px; width: 100%; border-radius: 2px;}
	.codeno{padding-left:0px !important}
	.mobileno{padding-right:0px !important}
.readonly-input{background:#ededed;}
.my-account-section h4{padding: 20px 0px 10px; float: left; width: 100%; font-size: 21px;}
.subscribe-span{font-weight:bold}
.subscribe-checkbox1{float:left; width:100%}
.account-btn-save{  font-size: 18px;padding: 10px 80px;border-radius: 5px;border: none; margin: 25px 0px;
    float: left;color: #fff; background: #c8202d;}
.account-setting-div{width:100%;float:left;}
.active-li{    background: #ffe6e68a;    color: #c8202d !important;}

/*my account css end*/   

/*event-listing page css start*/
.event-listing-div{width:100%; float:left;    background: #edf1f2;    padding-top: 10px;}
.event-top-section{width:100%; float:left;position:relative}
.event-top-section img{width: 100%;max-height: 500px;}
.overlay6 {left: 0;right: 0;top: 0; position: absolute;bottom: 0; width: 100%;background: #00000063;
}
.event-top-section p {font-size: 32px; color: #fffefe; text-align: center; font-weight: 300;
	letter-spacing: 1px; padding-top: 130px;
}
.contacttitle{width:100%;float:left;}
.all-listing{width:100%; float:left;background:#edf1f2;    padding-bottom: 20px;}
.all-listing-center{ }
.listing-inner-div{width:100%; float:left; background:#fff;padding:6px;    margin-top: 26px;}
.listingimg{width:100%;    max-height: 160px;    min-height: 160px;}
.event-location-section{width:100%; display:table}
.event-location1{    display: table-cell;}
.event-location1:nth-of-type(1){    width: 30px;}
.event-location1:nth-of-type(2){}
.event-location-bottom{width:100%; float:left;}
.event-location-section h5{color:#6d6d6d;      font-weight: normal;  font-size: 15px;font-family: 'Roboto', sans-serif;}
.event-location-section p{color:#3c3c3c;    font-size: 14px;font-family: 'Roboto', sans-serif;}
.listing-inner-div h4{font-family: 'Roboto', sans-serif;color: #6f6f6f;letter-spacing: 1px;font-size: 18px;font-weight:normal}
/*event-listing page css end*/  
 
input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
    background-color: #fefefe;
    border: 1px solid #75d36c;
    /* border-color: #ccc #fff #fff #75d36c; */
    border-radius: 50px;
    box-shadow: none;
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 7px;
    position: relative;
    -webkit-appearance: none;
}
input[type="radio"]:checked + span {
  color: #f00;
}
input[type="radio"]:checked + span:after {
    background: #75d36c;
    border-radius: 50px;
    box-shadow: none;
    content: " ";
    height: 6px;
    left: 3.8px;
    position: absolute;
    top: 4px;
    width: 6px;
}
label:hover input[type="radio"] + span {
  border-color: #75d36c;
}
 
label input + span {
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}
.radio_label{padding-right:10px}



/*event-detail page css start*/
.event-detail{width:100%; float:left;background:#edf1f2}
.event-detail-inner{width:100%; float:left; background:#fff;padding:10px}
.event-main-img{width:100%;    padding-bottom: 18px;}
.event-detail h2{color: #373737;font-family: 'Roboto', sans-serif;text-transform: uppercase;font-size: 20px;
    letter-spacing: 1px;line-height: 27px; margin-top: 0; margin-bottom: 9px;}
.event-detail h4{ color: #373737; font-family: 'Roboto', sans-serif; text-transform: uppercase; font-size: 15px;
    letter-spacing: 0.2px; padding-top: 50px; padding-bottom: 30px;}
.tags-ul li{}
.tags-ul li a{color: #c8202d; font-family: OpenSans-Regular; float: left; padding: 6px 15px;
    border: 1px solid #c8202d; border-radius: 50px; width: 125px; text-align: center;
    font-weight: 600;margin: 1px 6px 30px 15px;}
.right-sidebar-event{width:100%; float:left; background:#fff;    padding-bottom: 10px;}
.padding-section1{width:100%; float:left; background:#fff;padding: 10px}
.event-detail h5{font-family: 'Roboto', sans-serif; color: #3c3c3c;text-transform: uppercase; margin-top: 7px;
    font-size: 15px;    margin-bottom: 5px;}
.event-detail h6{ margin-top:0;    font-family: 'Roboto', sans-serif;color: #373737;font-size: 15px;font-weight: normal;padding-bottom: 15px;}
.right-sidedate{width:100%; display:table; padding-top:10px}
.right-date{display:table-cell}
.right-date:nth-of-type(1){width:30px; float:left;}
.right-date:nth-of-type(2){    vertical-align: bottom;}
.right-date-p{font-size:13.5px}
.right-date-p1{font-family:'Roboto', sans-serif; font-weight: 400;}
.line-hr{    float: left;width: 100%; border-top: 1px solid #e3e3e3; margin-top: 1px;margin-bottom: 5px;}
.right-date-p2{font-family:'Roboto', sans-serif; font-weight: 400;color:#5ba829}
.addbanner-eventdetail{width:100%; float:left; padding:17px 0px}
.addbanner-eventdetail img{width:100%}
.proccessing{width:100%; float:left; padding:20px}
/*event-detail page css end */




